* {
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100vw;
    background: #020a23;
    padding: 1rem;
    align-items: center;
}

.header > * {
    margin-left: 1rem;
}

.spacer {
    flex: 1;
}

.links {
    display: flex;
}

.links > * {
    margin-right: 1.5rem;
}