.page {
    box-sizing: border-box;
    padding: 2rem 10rem;
    min-height: 100vh;
    background-color: #F7F7F8;
}

.header {
    padding: 1rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px -2px black;

    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > h1 {
    margin: 0;
    flex: auto;
}


.stats {
    padding: 1rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px -2px black;

    display: inline-block;
}

.stats > h2 {
    margin: 0;
    margin-bottom: 1rem;
}

.stats table, .stats th, .stats td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
.stats th, .stats td {
    padding: 0.25rem 1rem;
    min-width: 7rem;
    text-align: right;
}