.page {
    box-sizing: border-box;
    padding: 2rem 10rem;
    min-height: 100vh;
    background-color: #F7F7F8;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > *:first-child {
    margin: 0;
    flex: auto;
}


.stats {
    background-color: white;
    display: inline-block;
}

.stats > h2 {
    margin: 0;
    margin-bottom: 1rem;
}

.stats table, .stats th, .stats td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
.stats th, .stats td {
    padding: 0.25rem 1rem;
    min-width: 7rem;
    text-align: right;
}